@font-face {
    font-family: nb;
    src: url(./assets/NBInternationalProBoo.ttf);
}

@font-face {
    font-family: rejouice;
    src: url(./assets/Rejouice-Headline.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;
}

#pageOne{
    height: 100vh;
    width: 100%;
}

#cursor {
    height: 7.5vw;
    width: 7.5vw;
    background-color: #ff5f38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}

#cursor h5{
    font-size: 1.1vw;
    font-weight: 100;
}

#pageOne video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pageOne-content{
    position: relative;
    height: 100%;
    width: 100%;
    color: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pageOne-content nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3vw;
}

.pageOne-content nav h3,
.pageOne-content nav h4
{
    font-size: 1.4vw;
    font-weight: 100;
}

.pageOne-content h1{
    font-family: rejouice;
    font-size: 27vw;
    font-weight: 100;
    line-height: 20vw;
}

.pageOne-content span{
    font-family: rejouice;
    display: inline-block;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000000;
    color: #fff;
    z-index: 1111;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7vw;
}

#loader h3{
    font-size: 1.7vw;
    font-weight: 100;
}